.staticCenterContainer, .notifBoxContainer {
	position: absolute; 
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0;
	/* border: solid 1px black; */
}

.notifBoxContainer {
	top: 60px; 
}

div.central {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	width: 100%;
}

div.topbar {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: black;
	left:0px;
	right:0px;
	top:0px;
	text-align: center;
}

div.containerLeftBorder {
	margin-left:30px; 
	padding-left:20px;
	border-left: solid 2px black;
	float: left;
}

div.drawer {
	width: 100%;
	height: 0px;
	background-color: #999999;
	color: white;
	overflow: hidden;
	box-shadow: inset 0px 5px 5px 0px #707070,
				inset 0px -5px 10px 0px #707070;
}

td.listSideHeader {
	padding-right: 10px;
	text-align: right;
}